body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
    background-color: #7F7F7F;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    position: relative;
}

.content h1 {
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 46px;
}

.content .buttons {
    margin-top: 40px;
    position: relative;
    margin-left: 0px;
}

.content .buttons a {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.content .buttons a:hover {
    background-color: rgb(214, 164, 0);
    color: black;
}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
/* Küsimustiku stiliseerimine */

.quiz-header {
    position: relative;
}

.quiz-header h2 {
    margin-left: 40px;  
}

#quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

  .buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
  
  .slide {
    display: none;
  }
  
  .active-slide {
    display: block;
  }
  
  .question {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Navigeerimisnupud */
  #previous, #next, #submit {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #previous, #next {
    display: none;
  }
  
  #previous:hover, #next:hover, #submit:hover {
    background-color: rgb(214, 164, 0);
    color: black;
  }
  
  #results {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Roheline värv õigete vastuste jaoks */
  .answers.correct {
    color: lightgreen;
  }
  
  /* Punane valede vastuste puhul */
  .answers.incorrect {
    color: red;
  }

  .answers label.correct {
    color: lightgreen;
  }
  
  .answers label.incorrect {
    color: red;
  }

.content2 {
    max-width: 800px;
    position: relative;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-left: 40px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    text-align: justify;
}
.content2 h2 {
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 34px;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#scrollToTopBtn {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: black;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
}

#scrollToTopBtn:hover {
    background-color: rgb(214, 164, 0);
    color: black;
}